body {
  background-color: #262D39;
}

html, body {
  margin: 0;
  padding: 0;
}
header img {
  width: 140px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 100px;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin-left: 400px; 
  margin-top: 100px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
  margin-left: 50px;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #e0e0d5;
  font-weight: lighter;
  font-family: sans-serif;
  transition: color ease;
}

nav a:hover {
  color: #BD0000;
}


.bannière {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 175px;
  background-image: url("Images/imagefond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannière h1 {
  font-family: sans-serif;
  font-weight: bolder;
  color: #e0e0d5;
  font-size: 55px;
}

.bannière p {
  color: #e0e0d5;
  font-family: sans-serif;
  font-size: 40px;
}

.bannière h1, .bannière p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


.bouton {
  text-align: center;
}

.bouton .btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #e0e0d5;
  color: #262D39;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 500;
  border-radius: 8px;
  margin-top: 50px;
}

.btn:hover {
  background-color: #BD0000;
  color: #e0e0d5;
}


#ÀPROPOS p {
  font-family: sans-serif;
  margin-top: 80px;
  font-weight: bolder;
  color: #e0e0d5;
  font-size: 55px;
  text-align: center;
}

.icones-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  margin-top: 10px;
  padding: 40px 20px;
  text-align: center;
}

.icones-section .icone {
  max-width: 250px;
  color: #e0e0d5;
  font-family: sans-serif;
}

.icones-section i {
  font-size: 60px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icones-section .icone:hover i {
  transform: scale(1.2);
}

.icones-section h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.icones-section p {
  font-size: 12px;
  color: #c5c5b5;
}

#GALERIE p {
  font-family: sans-serif;
  margin-top: 40px;
  font-weight: bolder;
  color: #e0e0d5;
  font-size: 55px;
  text-align: center;
}

.galerie-section {
  font-family: sans-serif;
  color: #e0e0d5;
  margin-left: 190px;
}

.galerie-oeuvres {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
}

.oeuvre {
  color: #e0e0d5;
  text-align: left;
  border-radius: 10px;
  padding: 15px;
  width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.oeuvre img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.oeuvre:hover {
  transform: scale(1.03);
}

.oeuvre h3 {
  font-family: sans-serif;
  font-weight: 500;
}

.oeuvre p {
  font-family: sans-serif;
  font-style: italic;
  color: #e0e0d5;
  margin-top: -10px;
}

#ÉVÉNEMENTS {
  background-color: #262D39;
  color: #e0e0d5;
  padding: 80px 0;
  text-align: center;
}

#ÉVÉNEMENTS h2 {
  font-family: sans-serif;
  margin-bottom: 60px;
  font-size: 55px;
}

#ÉVÉNEMENTS .accent {
  background-color: #e0e0d5;
  color: #262D39;
  padding: 5px 10px;
}

.event {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.evenement {
  background-color: #e0e0d5;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  width: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.evenement:hover {
  transform: translateY(-5px);
}

.evenement img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.info-événements {
  font-family: sans-serif;
  padding: 15px 20px;
  color: #262D39;
}

.info-événements h3 {
  font-weight: 600;
  margin-bottom: 5px;
}

.info-événements .sous-texte {
  color: #262D39;
  font-style: italic;
  font-size: smaller;
  margin-left: 10px;
}

.info-événements .details {
  color: #262D39;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 20px;
  font-style: italic;
  font-size: 20px;
  font-weight: 200;
}

#CONTACT p {
  font-family: sans-serif;
  font-weight: bolder;
  color: #e0e0d5;
  font-size: 55px;
  text-align: center;
  margin-top: 60px;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  margin-top: 40px;
  color: #e0e0d5;
  font-family: sans-serif;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.info-item i {
  font-size: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 320px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0d5;
  font-family: sans-serif;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  background-color: #e0e0d5;
  color: #262D39;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #BD0000;
  color: #e0e0d5;
}

.socials {
  text-align: center;
  margin-top: 60px;
  color: #e0e0d5;
  font-family: sans-serif;
}

.socials h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 30px;
}

.social-icons a {
  color: #e0e0d5;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #BD0000;
  transform: scale(1.2);
}


@media screen and (max-width: 600px) {

  body {
      overflow-x: hidden;
  }

  header img {
      width: 100px;
      margin-left: 20px;
      margin-top: 10px;
  }

  nav {
      position: relative;       
      margin-left: 0;
      margin-top: 120px;
      justify-content: center;
      width: 100%;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-left: 0;
  }

  nav a {
      font-size: 18px;
  }

  .bannière {
      margin-top: 40px;
      height: 250px;
      padding: 20px;
  }

  .bannière h1 {
      font-size: 35px;
  }

  .bannière p {
      font-size: 22px;
  }

  .bouton .btn {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
  }

  #ÀPROPOS p {
      margin-top: 40px;
      font-size: 30px;
  }

  .icones-section {
      flex-direction: column;
      gap: 60px;
      padding: 0 20px;
  }

  .icone {
      max-width: 300px;
      margin: auto;
  }

  .icone i {
      font-size: 40px;
  }

  .icone h3 {
      font-size: 18px;
  }

  .icone p {
      font-size: 14px;
      line-height: 1.4;
  }

  #GALERIE p {
      font-size: 30px;
  }

  .galerie-section {
      margin-left: 0;
      text-align: center;
      padding: 0 20px;
  }

  .galerie-oeuvres {
      flex-direction: column;
      gap: 40px;
      align-items: center;
  }

  .oeuvre {
      width: 80%;
      max-width: 320px;
  }

  #ÉVÉNEMENTS h2 {
      font-size: 30px;
  }

  .event {
      flex-direction: column;
      gap: 40px;
      align-items: center;
  }

  .evenement {
      width: 80%;
      max-width: 330px;
  }

  .info-événements h3 {
      font-size: 16px;
  }

  #CONTACT p {
      font-size: 30px;
      margin-top: 40px;
  }

  .contact-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 40px;
      padding: 0 20px;
  }

  .contact-info {
      width: 100%;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
  }

  .info-item {
      justify-content: center;
      gap: 12px;
      font-size: 16px;
  }

  .info-item i {
      font-size: 22px;
  }

  .contact-form {
      width: 100%;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .contact-form h3 {
      font-size: 16px;
      margin-bottom: 10px;
  }

  .contact-form form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
  }

  .contact-form input,
  .contact-form textarea {
      width: 100%;
  }

  .contact-form button {
      padding: 8px 20px;
      font-size: 14px;
  }

  .socials h3 {
      font-size: 18px;
  }

  .social-icons i {
      font-size: 22px;
  }
}
